* {
    color: white;
}

body {
    background-color: hsl(0, 0%, 10%);
}

#tela {
    height: 95vh;
    background-color: hsl(0, 0%, 15%);
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cartaoPokemon {
    height: 400px;
    background-color: hsl(0, 0%, 20%);

    display: flex;
    flex-direction: column;

    text-align: center;
    justify-content: space-around;
    align-items: center;

    border-radius: 15px;
}

.info {
    width: 300px;
}

.tipos {
    width: 100px;
    display: flex;
    justify-content: space-around;
}

.identificadores {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.medidas {
    display: flex;
    justify-content: space-around;
    width: 150px;
}

#busca {
    margin-top: 15px;
}

#imagem {
    width: 150px;

}

.medidas {
    color: #7e878d;
}

.peso, .altura {
    display: flex;
    flex-direction: column;
}

.peso > span , .altura > span {
    margin-bottom: 5px;
}

input {
    color: black;
    text-align: center;
}